@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo {
  animation: rotate 20s infinite linear;
}

.logoPng {
  height: 100px;
}

.logoSvg {
  height: 100px;
}

.logoPng,
.logoSvg {
  img {
    height: 100%;
  }
}

.banner img {
  width: 50vw;
}
